<div class="col-xs-12">
    <a href="#/addItem" style="margin-bottom: 10px;" class="btn btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-pushpin"></span>
        Add New Item</a>
    <ul class="list-group">
        <li ng-repeat="item in Items | orderBy: '-id' " class="list-group-item text-center clearfix">
            <button type="button" class="btn btn-sm btn-primary pull-left" ng-click="markCompleted(item)">
    <span class="glyphicon" ng-class="item.buyed ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
</button>
<span ng-class="{mark:item.buyed}" style="font-weight: bold">{{item.itemName | uppercase}}</span>
<p>( {{item.itemquantity}} )</p>
<button type="button" class="btn btn-sm btn-danger pull-right" ng-click="remove(item)">
    <span class="glyphicon glyphicon-trash"></span>
</button>
<a href="#/addItem/edititem/{{item.id}}" class="btn btn-sm btn-default pull-right" style="margin-right:10px;">
    <span class="glyphicon glyphicon-edit"></span>
</a>
        </li>
    </ul>
</div>

